{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>The Open Source Combinator</h1>
    <p class="lead">It's like Hackers News but for your Github Projects.<br> Share, vote, comment, contribute open source projects and make the community grow! </p>
    <p><a class="btn-github" href="{% if not profile %}{{GITHUB_AUHT_URL}}{% else %}/user/projects{% endif %}">Sign in with <b>GitHub</b></a></p>
</div>

<hr>      

<h3>Trending now</h3>

<div class="row-fluid marketing">    

    {% for column in projects_columns %}
    <div class="span6">

        {% for project in column %}
        <h4><a href="{{project.repository.url}}">{{project.repository.name}}</a></h4>
        <p>{{project.repository.description}}</p>
        {% endfor %}
    </div>
    {% endfor %}

</div>

{% endblock %}