{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function vote(projectId) {

    $.post("/user/vote/", {"project": projectId }, function(response) {

        var response = JSON.parse(response);
        $("#counter-" + projectId).text(response.votes);
        $("#arrow-" + projectId).hide();
    });
}
</script>
{% endblock %}

{% block content %} 

{% block title%}{% endblock %}

<div class="row-fluid marketing">    

    {% for project in projects %}
        <ul>
            <li>
                {% if not profile in project.voted_by.all %}
                <img id="arrow-{{project.id}}" onclick="vote({{project.id}})" class="img-up" src="/media/img/up.png"></a>
                {% endif %}                
                <span id="counter-{{project.id}}">{{project.votes}}</span>                
                <a class="project-repo-link" href="{{project.repository.url}}" target="_blank">{{project.repository.name}}</a> - {{project.repository.description}}
            </li>
        </ul>
    {% endfor %}
</div>

{% endblock %}