{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function loadRepos() {

    var loading = $("#loading");
    loading.show();

    $.post("/user/importrepos/", {}, function(response) {

        $("#repos").html(response)
        loading.hide();
    });
}

function share(repoId) {

    $.post("/user/share/", {"repo": repoId}, function(response) {

        var button = $("#btn-share-" + repoId);
        button.removeClass("btn-primary");
        button.addClass("btn-info");
        button.text("Shared");
    });
}

{% if not profile.imported_repos %}
$(function() {
    loadRepos();
});
{% endif %}

</script>
{% endblock %}

{% block content %}

<div id="repos">
    <div id="loading">
        <img src="/media/img/loading.gif">
        <h4>Importing your github repos...</h4>
    </div>

    {% include "user/importrepos.html" %}
</div>

{% endblock %}